<h3>Khóa học của tôi</h3>
{{#each data}}
  <div class='d-flex justify-content-between'>
    <div>
      <span>{{sum @index 1}}. </span>
      <span>
        {{this.name}}
      </span>
    </div>
    <div>
      <a href='/course/{{this._id}}/edit'>Sửa</a>
      <form method='POST' action='/course/{{this._id}}?_method=DELETE'>
        <button type='submit'>Xóa</button>
      </form>

    </div>

  </div>

{{/each}}